* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(121, 134, 163);
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.header-main {
    height: 3.2rem;
    width: 100%;

    background-color: rgb(14, 23, 38);
    z-index: 3;
}

.main-index {
    height: 100vh;
    width: 100%;
    
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #131C2E;

    z-index: -1;
}

.form-summoner {
    position: relative;
}

.form-summoner input {
    padding: .3rem 2rem .3rem 1rem;

    width: 30rem;
    height: 3rem;

    font-size: 1rem;

    background-color: rgb(32, 43, 67);
    color:rgb(137, 160, 181);
    border: .1rem solid rgb(137, 160, 181);
    border-radius: .3rem;
}

.form-summoner input:hover {
    background-color: rgb(40, 55, 87);
}

.form-summoner i {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: rgb(211, 211, 211);
    pointer-events: none;
}

/* SUM.VIEW */

.wrap {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0E1015;
}

.top {
    padding: .8rem;

    display: flex;
    width: 100%;
    justify-content: center;

    padding-bottom: 4rem;
}

.form-summoner--left-lupa input {
    padding: .3rem 1rem .3rem 3rem;
    
    background-color: #181A20;
    border-color: #181A20;
    color:rgb(119 137 152);
}

.form-summoner--left-lupa input:hover {
    background-color: #272A30;
}

.form-summoner--left-lupa i {
    left: 1rem;
    right: unset;

    pointer-events: none;
}

.matchs-container {
    width: 35rem;

    border-radius: .4rem;
}

.match {
    background-color: #181A20;

    border-bottom: .1rem solid black;
}

.match__content {
    padding: 1.2em;
}

.match__left {
    display: flex;
}

.match__champion-img {
    height: 3rem;
}

.match__general-info > h3 {
    margin: 0 2rem 1rem 0;
    
    color: #fb5a5a;
}

.match__kda {
    margin-bottom: .3rem;

    color: rgb(151, 141, 135);
    font-weight: 700;
    font-size: .95rem;
}

.match__data--little {
    font-size: .8rem;
}

.match__per-minute {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match__per-minute__top {
    margin-bottom: .5rem;
}

.match__per-minute > div p:first-child {
    margin-bottom: .3rem;
    
    font-weight: 700;
    font-size: .95rem;
    
    color: #e6e6e6;
}

